<div class="flex flex-col flex-auto w-full max-w-3xl mx-auto h-fit overflow-y-visible">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="system.tin_noi_bat"></div>
    </div>

    <mat-card class="rounded-2xl py-6 px-6 shadow">
        <div class="w-full">

            <table class="cell-border hover datatable dataTable no-footer">
                <thead>
                    <tr>
                    <tr>

                        <th transloco="system.no_" style="width:50px; text-align:center"></th>
                        <th style="width:125px">
                            <span class="text-blue-900 text-xl font-bold" transloco="system.group_news"></span><br />
                            <span transloco="system.type_news"></span>
                        </th>
                        <th style="width:75px" transloco="system.image"></th>
                        <th transloco="system.tieu_de"></th>
                        <th style="width:75px" transloco="system.quyen_rieng_tu"></th>
                        <th style="width:75px" transloco="system.tin_noi_bat"></th>
                        <th style="width:75px" transloco="system.nguoi_dang"></th>
                        <th style="width:75px" transloco="system.ngay_dang"></th>
                        <th style="width:75px" transloco="common.approval_status">

                        </th>

                    </tr>



                </thead>
                <tbody *ngIf="list_hotnews?.length != 0" cdkDropList (cdkDropListDropped)="onDrop($event)">
                    <tr *ngFor="let item of list_hotnews;  index as i;" cdkDrag>

                        <td style="text-align:center">{{i+1 }}</td>
                        <td>
                            <span class="text-blue-900  text-xl font-bold"> {{ item.group_news_name }}</span>
                            <br />
                            {{ item.type_news_name }}
                        </td>
                        <td><img [src]="item.db.image" style="width:70px" /></td>
                        <td>{{ item.db.tieu_de }}</td>

                        <td>

                            <span class="text-green-900" *ngIf="item.db.quyen_rieng_tu==1" transloco="system.cong_khai"></span>
                            <span class="text-green-900" *ngIf="item.db.quyen_rieng_tu==2" transloco="system.thanh_vien"></span>
                            <span class="text-green-900" *ngIf="item.db.quyen_rieng_tu==3" transloco="system.ban_be"></span>
                            <span class="text-yellow-900" *ngIf="item.db.quyen_rieng_tu==5">
                                <span transloco="system.khoa"></span>
                                <br />
                                <span class="ml-1"> {{item.ten_khoa | number}} </span>
                            </span>
                            <span class="text-yellow-900" *ngIf="item.db.quyen_rieng_tu==5">
                                <span transloco="system.tra_phi"></span>
                                <br />
                                <span class="ml-1">Số tiền: {{item.db.so_tien | number}} </span>
                            </span>
                        </td>
                        <td>
                            <mat-icon class="icon-size-5 mr-3 text-green-500" *ngIf="item.db.is_hot == true"
                                      svgIcon="heroicons_solid:check-circle">

                            </mat-icon>
                            <span *ngIf="item.db.is_hot == true">Vị trí: {{item.db.stt}}</span>

                        </td>
                        <td>{{ item.create_by_name }}</td>

                        <td>{{ item.db.ngay_dang | date: 'dd/MM/yyyy' }}</td>
                        <td>
                            <span class="text-green-900" *ngIf="item.db.status_del==1" transloco="system.da_duyet"></span>
                            <span class="text-red-900" *ngIf="item.db.status_del==2" transloco="system.ngung_dang"></span>
                            <span class="text-gray-900" *ngIf="item.db.status_del==3" transloco="system.cho_xet_duyet"></span>
                            <span class="text-yellow-900" *ngIf="item.db.status_del==4">
                                <span transloco="system.bi_tra_lai"></span>
                                <br />
                                <span class="ml-1">Lý do:( {{item.db.reason_return}} )</span>
                            </span>
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </mat-card>
    <div class="flex flex-row justify-end space-x-2 m-2">
        <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="actionEnum!=3" [disabled]="loading" mat-raised-button (click)="save()" transloco="save"></button>
        <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button (click)="close()" transloco="close"></button>
    </div>
</div>
