<div class="flex flex-col flex-auto w-full max-w-3xl mx-auto h-fit overflow-y-visible">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_user"></div>
    </div>

    <!-- Card form -->
    <div class="w-full p-4 sm:p-8 space-y-1 overflow-y-auto">
        <div class="flex flex-row justify-end space-x-2 mt-1">
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="actionEnum!=3" [disabled]="loading" mat-raised-button (click)="save()" transloco="save"></button>
            <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button (click)="close()" transloco="close"></button>
        </div>
        <mat-card class="rounded-2xl py-6 px-6 shadow">
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1">
                <mat-checkbox [(ngModel)]="record.type" class="mt-5"
                              [color]="'warn'">
                    <span style="font-size:20px;font-weight:700;"> <span transloco="system.is_quan_tri"></span></span>
                </mat-checkbox>
            </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.full_name'"
                              [keyError]="'db.full_name'"
                              [(model)]="record.db.full_name"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_select [errorModel]="errorModel"
                               [label]="'system.gioi_tinh'"
                               [keyError]="'db.sex'"
                               [listData]="list_sex"
                               [(model)]="record.db.sex"></cm_select>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [label]="'date_of_birth'"
                              [keyError]="'db.date_of_birth'"
                              [type]="'datepicker'"
                              [(model)]="record.db.date_of_birth"></cm_input>
                </div>
                <div class="flex-1">
                    <div class="flex-1">

                        <cm_input [errorModel]="errorModel"
                                  [actionEnum]="actionEnum"
                                  [label]="'system.email'"
                                  [keyError]="'db.email'"
                                  [callbackChange]="bind_data()"
                                  [(model)]="record.db.email"></cm_input>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">

                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.phone'"
                              [keyError]="'db.phone'"
                              [(model)]="record.db.phone"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_select [errorModel]="errorModel"
                               [label]="'portal.status_graduate'"
                               [keyError]="'db.status_graduate'"
                               [listData]="list_status_graduate"
                               [(model)]="record.db.status_graduate"></cm_select>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.user_name'"
                              [keyError]="'db.Username'"
                              [type]="'readonly'"
                              [(model)]="record.db.Username"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [type]="'password'"
                              [label]="'system.password'"
                              [keyError]="'password'"
                              [(model)]="record.password"></cm_input>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">

                    <cm_select [errorModel]="errorModel"
                               [label]="'NAV.sys_khoa'"
                               [keyError]="'db.id_khoa'"
                               [listData]="list_khoa"
                               [(model)]="record.db.id_khoa"></cm_select>
                </div>
                <div class="flex-1">


                    <cm_select [errorModel]="errorModel"
                               [label]="'portal.school_year'"
                               [keyError]="'db.school_year'"
                               [listData]="list_school_year"
                               [(model)]="record.db.school_year"></cm_select>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">

                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.chuc_danh'"
                              [keyError]="'db.position'"
                              [(model)]="record.db.position"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'portal.donvicongtac'"
                              [keyError]="'db.company'"
                              [(model)]="record.db.company"></cm_input>

                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">

                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.dia_chi'"
                              [keyError]="'db.dia_chi'"
                              [maxlength]="'1000'"
                              [(model)]="record.db.dia_chi"></cm_input>
                </div>
            </div>
            <!--<div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_select [errorModel]="errorModel"
                               [actionEnum]="actionEnum"
                               [label]="'NAV.sys_trung_tam_bao_hanh'"
                               [keyError]="'db.id_trung_tam'"
                               [listData]="list_tru_so"
                               [(model)]="record.db.id_trung_tam"></cm_select>
                </div>

            </div>-->
            <!--<div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_select [errorModel]="errorModel"
                               [actionEnum]="actionEnum"
                               [label]="'system.type_user'"
                               [keyError]="'db.type'"
                               [listData]="listtype"
                               [(model)]="record.db.type"></cm_select>
                </div>



            </div>-->
            <!--<div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum!=3">
                    <div class="flex-1">
                        <label transloco="system.image" style="padding:25px;color:blue;font-size:20px;font-weight:bold"></label>
                        <div align="center">
                            <span style="color:red" *ngFor="let item of errorModel | filter : 'key' : 'db.avatar_path' ;  index as i;">
                                (<span *ngFor="let msg of item.value">
                                    {{msg | transloco}}
                                </span>)
                            </span>
                        </div>

                        <div class="uploadfilecontainer" (click)="fileInput1.click()" appDragDrop (onFileDropped)="DragAndDrop_image($event)" align="center">
                            <h3 style="margin:auto" transloco="chose_file" *ngIf="record.db.image==null"></h3>
                            <img [src]="record.db.avatar_path" style="height:100%" *ngIf="record.db.avatar_path!=null" />
                            <input hidden type="file" #fileInput1 (change)="chose_file_image($event)" accept="image/*">
                        </div>

                        <br />
                        <div style="position: relative;padding:20px" *ngIf="Progress_image!=-1">
                            <mat-progress-bar mode="determinate" [value]="Progress_image" style="height: 2em;" color="'Warn'"></mat-progress-bar>
                            <span style="position: absolute; top: 0.5em;" [ngStyle]="{'left': Progress_image + '%'}">{{Progress_image}}%</span>
                        </div>

                    </div>
                </div>
                <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum==3 ">
                    <div class="flex-1">
                        <label transloco="system.image" style="padding:25px;color:blue;font-size:20px;font-weight:bold"></label>

                        <div class="uploadfilecontainer" align="center">
                            <img [src]="record.db.avatar_path" style="height:100%" />
                        </div>
                        <br />
                    </div>

                </div>
            </div>-->

            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum!=3">
                <div class="flex-1">
                    <label transloco="system.image" style="padding:25px;color:blue;font-size:20px;font-weight:bold"></label>
                    <div align="center">
                        <span style="color:red" *ngFor="let item of errorModel | filter : 'key' : 'db.avatar_path' ;  index as i;">
                            (<span *ngFor="let msg of item.value">
                                {{msg | transloco}}
                            </span>)
                        </span>
                    </div>

                    <div class="uploadfilecontainer" (click)="fileInput1.click()" appDragDrop (onFileDropped)="DragAndDrop_image($event)" align="center">
                        <h3 style="margin:auto" transloco="chose_file" *ngIf="record.db.avatar_path==null"></h3>
                        <img [src]="record.db.avatar_path" style="height:100%" *ngIf="record.db.avatar_path!=null" />
                        <input hidden type="file" #fileInput1 (change)="chose_file_image($event)" accept="image/*">
                    </div>

                    <br />
                    <div style="position: relative;padding:20px" *ngIf="Progress_image!=-1">
                        <mat-progress-bar mode="determinate" [value]="Progress_image" style="height: 2em;" color="'Warn'"></mat-progress-bar>
                        <span style="position: absolute; top: 0.5em;" [ngStyle]="{'left': Progress_image + '%'}">{{Progress_image}}%</span>
                    </div>

                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap" *ngIf="actionEnum==3 ">
                <div class="flex-1">
                    <label transloco="system.image" style="padding:25px;color:blue;font-size:20px;font-weight:bold"></label>

                    <div class="uploadfilecontainer" align="center">
                        <img [src]="record.db.avatar_path" style="height:100%" />
                    </div>
                    <br />
                </div>

            </div>
        </mat-card>
        
  
        <div class="flex flex-row justify-end space-x-2 mt-1">
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="actionEnum!=3" [disabled]="loading" mat-raised-button (click)="save()" transloco="save"></button>
            <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button (click)="close()" transloco="close"></button>
        </div>
    </div>
</div>

