<div class="flex flex-col flex-auto w-full mx-auto h-fit overflow-y-visible">


    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_event_program"></div>


    </div>

    <!-- Card form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
        <mat-card class="rounded-2xl py-6 px-6 shadow">
            <div class="text-lg font-medium">
                <span transloco="NAV.sys_event"></span> - {{record.ten_su_kien}}
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [label]="'system.ten_chuong_trinh'" [keyError]="'name'" [(model)]="record.db.name"></cm_input>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <span style="color:red" *ngFor="let item of errorModel | filter : 'key' : 'start_time' ;  index as i;">
                    (<span *ngFor="let msg of item.value">
                        {{msg | transloco}}
                    </span>)
                </span>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">

                <div class="flex-1">
                    <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [keyError]="'db.start_time'" [label]="'system.thoi_gian_bat_dau'" [type]="'datetimepicker'" [(model)]="record.db.start_time"></cm_input>
                </div>
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel" [actionEnum]="actionEnum" [keyError]="'db.end_time'" [label]="'system.thoi_gian_ket_thuc'" [type]="'datetimepicker'" [(model)]="record.db.end_time"></cm_input>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_select [label]="'system.dien_gia'" [listData]="list_dien_gia" [(model)]="record.db.id_dien_gia"></cm_select>
                </div>

            </div>



            <!--<div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.dia_diem'"
                              [keyError]="'db.location'"
                              [(model)]="record.db.location"></cm_input>
                </div>

            </div>-->
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1" *ngIf="actionEnum !=3" style="max-width:100%">
                    <h1 transloco="system.mo_ta"></h1>
                    <span style="color:red" *ngFor="let item of errorModel | filter : 'Key' : 'db.description' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                    <editor class="flex w-full" [init]="timyconfig" [(ngModel)]="record.db.description"></editor>

                </div>
                <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                    <h1 transloco="system.content"></h1>
                    <span [innerHtml]="record.db.description | safeHtml"></span>

                </div>
            </div>

        </mat-card>
        <div class="flex flex-row justify-end space-x-2">
            <button *ngIf="actionEnum!=3" [disabled]="loading" mat-raised-button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" (click)="save()" transloco="save"></button>
            <button [disabled]="loading" mat-raised-button (click)="close()" class="bg-primary-600 text-white shadow-none hover:bg-primary-700" transloco="close"></button>
        </div>
    </div>
</div>