.button-mua_hang {
    background-color: #273a88 !important;
    border-radius: 5px !important;
}

.button-mua_hang:hover {
    background-color: #3285c7 !important;
    border-radius: 5px !important;
}