<div class="flex flex-col flex-auto w-full max-w-3xl mx-auto h-fit overflow-y-visible">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_san_pham"></div>
    </div>

    <!-- Card form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1">
                <cm_input [errorModel]="errorModel"
                          [actionEnum]="actionEnum"
                          [label]="'system.name'"
                          [keyError]="'db.ten_san_pham'"
                          [(model)]="record.db.ten_san_pham"></cm_input>
            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1" *ngIf="actionEnum !=3" style="padding:10px">
                <div class="flex flex-row">
                    <h1 transloco="system.mo_ta"></h1>&nbsp;
                    <span style="color:red;font-weight:700" *ngFor="let item of errorModel | filter : 'key' : 'db.mo_ta' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <editor [init]="timyconfig" [(ngModel)]="record.db.mo_ta"></editor>

            </div>
            <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                <h1 transloco="system.mo_ta"></h1>
                <span [innerHtml]="record.db.mo_ta | safeHtml"></span>

            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1" *ngIf="actionEnum !=3" style="padding:10px">
                <div class="flex flex-row">
                    <h1 transloco="system.mo_ta_mobile"></h1>&nbsp;
                    <span style="color:red;font-weight:700" *ngFor="let item of errorModel | filter : 'key' : 'db.mo_ta_mobile' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <editor [init]="timyconfig" [(ngModel)]="record.db.mo_ta_mobile"></editor>

            </div>
            <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                <h1 transloco="system.mo_ta_mobile"></h1>
                <span [innerHtml]="record.db.mo_ta_mobile | safeHtml"></span>

            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1" *ngIf="actionEnum !=3" style="padding:10px">
                <div class="flex flex-row">
                    <h1 transloco="system.thong_so_ky_thuat"></h1>&nbsp;
                    <span style="color:red;font-weight:700" *ngFor="let item of errorModel | filter : 'key' : 'db.thong_so_ky_thuat' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <editor [init]="timyconfig" [(ngModel)]="record.db.thong_so_ky_thuat"></editor>

            </div>
            <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                <h1 transloco="system.thong_so_ky_thuat"></h1>
                <span [innerHtml]="record.db.thong_so_ky_thuat | safeHtml"></span>

            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1" *ngIf="actionEnum !=3" style="padding:10px">
                <div class="flex flex-row">
                    <h1 transloco="system.thong_so_ky_thuat_mobile"></h1>&nbsp;
                    <span style="color:red;font-weight:700" *ngFor="let item of errorModel | filter : 'key' : 'db.thong_so_ky_thuat_mobile' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <editor [init]="timyconfig" [(ngModel)]="record.db.thong_so_ky_thuat_mobile"></editor>

            </div>
            <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                <h1 transloco="system.thong_so_ky_thuat_mobile"></h1>
                <span [innerHtml]="record.db.thong_so_ky_thuat_mobile | safeHtml"></span>

            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1" *ngIf="actionEnum !=3" style="padding:10px">
                <div class="flex flex-row">
                    <h1 transloco="system.thong_tin_bo_sung"></h1>&nbsp;
                    <span style="color:red;font-weight:700" *ngFor="let item of errorModel | filter : 'key' : 'db.thong_tin_bo_sung' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <editor [init]="timyconfig" [(ngModel)]="record.db.thong_tin_bo_sung"></editor>

            </div>
            <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                <h1 transloco="system.thong_tin_bo_sung"></h1>
                <span [innerHtml]="record.db.thong_tin_bo_sung | safeHtml"></span>

            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
            <div class="flex-1" *ngIf="actionEnum !=3" style="padding:10px">
                <div class="flex flex-row">
                    <h1 transloco="system.thong_tin_bo_sung_mobile"></h1>&nbsp;
                    <span style="color:red;font-weight:700" *ngFor="let item of errorModel | filter : 'key' : 'db.thong_tin_bo_sung_mobile' ;  index as i;">
                        (<span *ngFor="let msg of item.value">
                            {{msg | transloco}}
                        </span>)
                    </span>
                </div>

                <editor [init]="timyconfig" [(ngModel)]="record.db.thong_tin_bo_sung_mobile"></editor>

            </div>
            <div class="flex-1" *ngIf="actionEnum ==3" style="padding:10px">
                <h1 transloco="system.thong_tin_bo_sung_mobile"></h1>
                <span [innerHtml]="record.db.thong_tin_bo_sung_mobile | safeHtml"></span>

            </div>
        </div>
        <div class="flex flex-row justify-end space-x-2">
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="actionEnum!=3" [disabled]="loading" mat-raised-button (click)="save_language()" transloco="save"></button>
            <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button *ngIf="this.actionEnum ==3" (click)="close()" transloco="close"></button>
            <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button *ngIf="this.actionEnum !=3" (click)="close_create()" transloco="close"></button>
        </div>

    </div>

</div>
