<div class="flex flex-col flex-auto w-full max-w-3xl  h-fit overflow-y-visible">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
      

        <div class="text-lg font-medium" *ngIf="actionEnum==1">Thêm Thông tin ứng tuyển</div>
        <div class="text-lg font-medium" *ngIf="actionEnum!=1">Chỉnh sửa thông tin ứng tuyển</div>
    </div>

    <!-- Card form -->
    <div class="w-full p-3 space-y-1">
        <div class="rounded-2xl py-6 px-6 bg-card shadow overflow-hidden">

            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">

                    <cm_input [errorModel]="errorModel"
                              [actionEnum]="actionEnum"
                              [label]="'system.muc_luong_mong_muon'"
                              [keyError]="'db.muc_luong'"
                              [type]="'number'"
                              [(model)]="record.db.muc_luong"></cm_input>
                </div>
            </div>
            <div class="flex-1">

                <cm_select [errorModel]="errorModel"
                           [label]="'system.don_vi_tien_te'"
                           [keyError]="'db.tien_te'"
                           [listData]="list_tien_te"
                           [(model)]="record.db.tien_te"></cm_select>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [label]="'system.hinh_thuc_lam_viec'"
                              [keyError]="'db.hinh_thuc'"
                              [(model)]="record.db.hinh_thuc"></cm_input>
                </div>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap">
                <div class="flex-1">
                    <cm_input [errorModel]="errorModel"
                              [label]="'system.vi_tri_cong_viec'"
                              [keyError]="'db.vi_tri'"
                              [(model)]="record.db.vi_tri"></cm_input>
                </div>
            </div>

            <div class="flex flex-row justify-end space-x-2  mt-5">
                <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="actionEnum!=3" [disabled]="loading" mat-raised-button (click)="save()" transloco="save"></button>
                <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button (click)="close()" transloco="close"></button>
            </div>
            <div class="h-40" *ngIf="isScreenSmall"></div>
        </div>

        </div>
</div>



