<div class="flex flex-col flex-auto w-full max-w-3xl mx-auto h-fit overflow-y-visible">


    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" transloco="NAV.sys_approval_user"></div>
    </div>

    <!-- Card form -->
    <div class="flex flex-col w-full  max-w-screen-md mx-auto ">
        <div class="flex flex-row justify-end space-x-2 mt-1">
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="record.db.status_del ==4 " [disabled]="loading" mat-raised-button (click)="approval(record.db.Id)" transloco="common.approval"></button>
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="record.db.status_del == 1 || record.db.status_del == 4 " [disabled]="loading" mat-raised-button (click)="cancel(record.db.Id)" transloco="common.cancel"></button>
            <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button (click)="close()" transloco="close"></button>
        </div>
        <div class="flex flex-row  w-full">
            <!--left main-->
            <div class="flex flex-col  w-full m-2">


                <div class="shadow border border-blue-500 rounded-md">
                    <!-- Cover image -->
                    <div class="relative cursor-pointer">

                        <img class="h-40 lg:h-80 object-cover rounded-md"
                             src={{record.db.cover_image}}
                             alt="Cover image">

                        <div class="absolute bottom-2 right-1 ring-2 ring-blue-500 w-8 h-8 flex items-center justify-center p-2  rounded-full bg-gray-300 mx-auto">
                            <span>
                                <mat-icon class="icon-size-5"
                                          [svgIcon]="'heroicons_solid:camera'"></mat-icon>
                            </span>

                        </div>


                    </div>
                    <!-- Avatar -->
                    <div class="flex items-center py-3 px-4 cursor-pointer ng-star-inserted  dark:bg-hover">


                        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18">

                            <!-- Avatar -->
                            <div class="flex flex-col lg:mb-30 rounded-full">
                                <div class="relative">
                                    <img class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                                         src={{record.db.avatar_path}}
                                         alt="User avatar">

                                    <div class="absolute bottom-2 right-1 ring-2 ring-blue-500 w-8 h-8 flex items-center justify-center p-2  rounded-full bg-gray-300 mx-auto">
                                        <span>
                                            <mat-icon class="icon-size-5 cursor-pointer"
                                                      [svgIcon]="'heroicons_solid:camera'"></mat-icon>
                                        </span>

                                    </div>

                                </div>



                            </div>

                        </div>
                        <!-- Details -->



                    </div>

                    <!-- User Info -->

                    <div class="flex flex-row items-center lg:items-start mt-2 lg:mt-0 lg:ml-8 mb-2">

                        <div class="flex items-center mt-2">
                            <span class="font-bold text-2xl font-bold">{{record.db.full_name}}</span>
                            <mat-icon class="icon-size-5 ml-1 cursor-pointer"
                                      [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                        </div>

                    </div>
                    <div class="flex flex-col items-center lg:items-start  mt-2 lg:mt-0 lg:ml-8 mb-2 w-full">

                        <div class="flex flex-col lg:flex-row w-full ">
                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3"
                                          [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                <span class="">{{record.db.email}}</span>
                            </div>
                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3"
                                          [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                <span class="" *ngIf="record.db.position!=null && record.db.position!=''">{{record.db.position}}</span>
                                <span class="" *ngIf="record.db.position==null || record.db.position==''">---</span>
                            </div>
                        </div>

                        <div class="flex flex-col lg:flex-row w-full">
                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3 "
                                          [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                <span class="" *ngIf="record.db.phone!=null && record.db.phone!=''">{{record.db.phone}}</span>
                                <span class="" *ngIf="record.db.phone==null || record.db.phone==''">---</span>
                            </div>
                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3"
                                          svgIcon="mat_solid:account_balance"></mat-icon>
                                <span class="" *ngIf="record.company_name!=null && record.company_name!=''">{{record.company_name}}</span>
                                <span class="" *ngIf="record.company_name==null || record.company_name==''">---</span>
                            </div>
                        </div>

                        <div class="flex flex-col lg:flex-row w-full">


                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3"
                                          svgIcon="heroicons_solid:user"></mat-icon>
                                <span class="" *ngIf="record.db.status_graduate!=null && record.db.status_graduate!=''">
                                    <span transloco="system.hinh_thuc"></span>:&nbsp;
                                    <span class="" *ngIf="record.db.status_graduate==1" transloco="portal.student"></span>
                                    <span class="" *ngIf="record.db.status_graduate==2" transloco="portal.alumni"></span>
                                    <span class="" *ngIf="record.db.status_graduate==3" transloco="portal.teacher"></span>
                                    <span class="" *ngIf="record.db.status_graduate==4" transloco="portal.CBCNV"></span>
                                    <span class="" *ngIf="record.db.status_graduate==5" transloco="portal.retire"></span>
                                </span>
                                <span class="" *ngIf="record.db.status_graduate==null || record.db.status_graduate==''">---</span>
                            </div>

                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3"
                                          svgIcon="heroicons_solid:academic-cap"></mat-icon>
                                <span class="text-blue-900" *ngIf="record.khoa_name!=null && record.khoa_name!=''">{{record.khoa_name}} - Khóa {{record.db.school_year}}</span>

                                <span class="" *ngIf="record.khoa_name==null || record.khoa_name==''">---</span>
                            </div>

                        </div>

                        <div class="flex flex-col lg:flex-row w-full">


                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3"
                                          [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                <span class="" *ngIf="record.db.date_of_birth!=null && record.db.date_of_birth!=''">{{record.db.date_of_birth |  date : 'dd/MM/yyyy'}}</span>
                                <span class="" *ngIf="record.db.date_of_birth==null || record.db.date_of_birth==''">---</span>
                            </div>
                            <div class="flex items-center mt-2 w-1/3 ml-2">
                                <mat-icon class="icon-size-5 mr-3 "
                                          [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                <span class="" *ngIf="record.db.dia_chi!=null && record.db.dia_chi!=''">{{record.db.dia_chi}}</span>
                                <span class="" *ngIf="record.db.dia_chi==null || record.db.dia_chi==''">---</span>
                            </div>
                        </div>

                        <!--<div class="flex flex-col lg:flex-row w-full">
                            <div class="flex items-center mt-2 w-1/3 ml-2 text-blue-900">
                                <mat-icon class="icon-size-5 mr-3"
                                          svgIcon="heroicons_solid:users"></mat-icon>

                                <span class="text-blue-900 font-bold">500 người theo dõi - 500 bạn bè</span>


                            </div>
                        </div>-->
                    </div>
                </div>


                <!--<div class="tab flex flex-row items-center mt-4">
                    <button class="tablinks px-2 border border-b-2 border-blue-500" (click)="openCity($event, 'ho_so')"><span transloco="system.ho_so" class="text-base font-medium"></span></button>
                    <button class="tablinks px-2 border border-b-2 border-blue-500" (click)="openCity($event, 'ban_be')"><span transloco="system.ban_be" class="text-base font-medium"></span></button>
                    <button class="tablinks px-2 border border-b-2 border-blue-500" (click)="openCity($event, 'tai_cv')"><span transloco="system.tai_cv" class="text-base font-medium"></span></button>
                </div>

                <div id="ho_so" class="tabcontent mt-4 border border-b-1 border-blue-500 w-full max-w-screen-xl mx-auto">
                    <h3>London</h3>
                    <p>London is the capital city of England.</p>
                </div>

                <div id="ban_be" class="tabcontent mt-4 border border-1 border-blue-500 w-full max-w-screen-xl mx-auto">
                    <h3>Paris</h3>
                    <p>Paris is the capital of France.</p>
                </div>

                <div id="tai_cv" class="tabcontent mt-4 border border-1 border-blue-500 w-full max-w-screen-xl mx-auto">
                    <h3>Tokyo</h3>
                    <p>Tokyo is the capital of Japan.</p>
                </div>-->
                <div class="flex-auto mt-4 sm:mt-6">
                    <div class="w-full max-w-screen-xl mx-auto">

                        <!-- Tabs -->
                        <mat-tab-group class="sm:px-2" style="padding: 0px !important; margin: 0px !important"
                                       [animationDuration]="'0'" mat-align-tabs="start">
                            <mat-tab label="{{'system.ho_so' | transloco}}" style="padding: 0px !important; margin: 0px !important">

                                <!--học vấn-->
                                <div class="flex flex-col shadow border border-blue-500 rounded-md px-8 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <mat-icon *ngIf="is_show_hide_education==true" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-down'" (click)="showHideEducation()"></mat-icon>
                                            <mat-icon *ngIf="is_show_hide_education==false" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-up'" (click)="showHideEducation()"></mat-icon>
                                            <span class="font-bold text-xl">Học vấn</span>
                                            <mat-icon class="icon-size-5 ml-1"
                                                      [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                        </div>
                                        <div class="flex items-center mt-2">
                                            <!--<mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:plus-circle'" (click)="openDialogEducation()"></mat-icon>-->
                                            <!--<button class="mb-3 bg-blue-900 text-white cursor-pointer" mat-raised-button>
                                                <span class="text-base">Thêm </span>
                                            </button>-->
                                        </div>
                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">
                                    <div *ngIf="is_show_hide_education==true">
                                        <div class="flex flex-col" *ngFor="let item of record.list_user_education;  index as i;">
                                            <div class="flex flex-row justify-between">
                                                <div class="flex flex-col items-start mt-2">

                                                    <span class="font-bold text-lg">{{item.db.school}}</span>


                                                    <span class="font-medium text-base text-blue-900">Bằng {{item.degree_name}}, {{item.db.speciality}}</span>

                                                    <span class="font-medium text-base">{{item.db.from_year}}-{{item.db.to_year}}</span>


                                                </div>

                                                <div class="flex items-center mt-2 hidden">

                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:trash'"></mat-icon>

                                                </div>



                                            </div>
                                            <hr class="w-full border-t border-slate-900 border-2 my-2">

                                        </div>

                                    </div>



                                </div>

                                <!--thành tựu-->
                                <div class="flex flex-col shadow border border-blue-500 rounded-md  px-8 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <mat-icon *ngIf="is_show_hide_success==true" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-down'" (click)="showHideSuccess()"></mat-icon>
                                            <mat-icon *ngIf="is_show_hide_success==false" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-up'" (click)="showHideSuccess()"></mat-icon>
                                            <span class="font-bold text-lg">Thành tựu</span>
                                            <mat-icon class="icon-size-5 ml-1"
                                                      [svgIcon]="'heroicons_solid:users'"></mat-icon>
                                        </div>
                                        <div class="flex items-center mt-2">
                                            <!--<mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>-->
                                            <!--<button class="mb-3 bg-blue-900 text-white cursor-pointer" mat-raised-button>
                                                <span class="text-base">Thêm </span>
                                            </button>-->

                                        </div>
                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">
                                    <div *ngIf="is_show_hide_success==true">
                                        <div class="flex flex-col" *ngFor="let item of record.list_user_success;  index as i;">
                                            <div class="flex flex-row justify-between">
                                                <div class="flex flex-col w-3/5 items-start mt-2">

                                                    <span class="font-bold text-lg">{{item.db.description}}</span>


                                                    <span class="font-medium text-base text-blue-900">{{item.db.field_name}}</span>

                                                    <a class="mb-3 bg-blue-900 text-white" style="height:25px;min-height:0px" href="{{item.db.url}}" target="_blank" mat-raised-button>
                                                        <span class="text-base">Hiển thị giải thưởng </span>
                                                    </a>


                                                </div>
                                                <div class="flex items-center w-1/5 mt-2">
                                                    <img class="w-32 h-24 rounded-md border border-blue-500"
                                                         src={{item.db.image}}
                                                         alt="Image success">

                                                </div>
                                                <div class="flex items-center justify-end w-1/5 mt-2 hidden">
                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:pencil'" (click)="openDialogEditSuccess(item,i)"></mat-icon>
                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:trash'" (click)="deleteSuccess(item.db.id)"></mat-icon>

                                                </div>



                                            </div>
                                            <hr class="w-full border-t border-slate-900 border-2 my-2">

                                        </div>



                                    </div>


                                </div>
                                <!--bằng cấp chứng chỉ-->
                                <div class="flex flex-col shadow border border-blue-500 rounded-md px-8 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <mat-icon *ngIf="is_show_hide_certificate==true" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-down'" (click)="showHideCertificate()"></mat-icon>
                                            <mat-icon *ngIf="is_show_hide_certificate==false" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-up'" (click)="showHideCertificate()"></mat-icon>
                                            <span class="font-bold text-lg">Bằng cấp & chứng chỉ</span>
                                            <mat-icon class="icon-size-5 ml-1"
                                                      [svgIcon]="'heroicons_solid:lock-closed'"></mat-icon>
                                        </div>
                                        <div class="flex items-center mt-2">
                                            <!--<mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>-->
                                            <!--<button class="mb-3 bg-blue-900 text-white cursor-pointer" mat-raised-button>
                                                <span class="text-base">Thêm </span>
                                            </button>-->
                                        </div>
                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">

                                    <div *ngIf="is_show_hide_certificate==true">
                                        <div class="flex flex-col" *ngFor="let item of record.list_user_certificate;  index as i;">
                                            <div class="flex flex-row justify-between">
                                                <div class="flex w-3/5  flex-col items-start mt-2">

                                                    <span class="font-bold text-lg"><!--Advance Your Skill in HTML-->{{item.db.description}}</span>


                                                    <span class="font-medium text-base text-blue-900"><!--LinkEd Learning--> {{item.db.issued_by}}</span>

                                                    <span class="font-medium text-base">{{item.db.from_date | date: 'dd/MM/yyyy'}}<!--14/05/2021 - 14/05/2023--> - {{item.db.to_date | date: 'dd/MM/yyyy'}}</span>

                                                </div>
                                                <div class="flex w-1/5 items-center mt-2">
                                                    <img class="w-32 h-24 rounded-md border border-blue-500"
                                                         src={{item.db.image}}
                                                         alt="User avatar">

                                                </div>
                                                <div class="flex w-1/5 items-center justify-end mt-2 hidden">
                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:trash'"></mat-icon>

                                                </div>



                                            </div>
                                            <hr class="w-full border-t border-slate-900 border-2 my-2">
                                        </div>


                                    </div>

                                </div>


                                <!--Kinh nghiệm-->
                                <div class="flex flex-col shadow border border-blue-500 rounded-md px-8 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <mat-icon *ngIf="is_show_hide_work_history==true" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-down'" (click)="showHideWorkHistory()"></mat-icon>
                                            <mat-icon *ngIf="is_show_hide_work_history==false" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-up'" (click)="showHideWorkHistory()"></mat-icon>
                                            <span class="font-bold text-lg">Lịch sử công tác</span>
                                            <mat-icon class="icon-size-5 ml-1"
                                                      [svgIcon]="'heroicons_solid:globe'"></mat-icon>


                                        </div>
                                        <div class="flex items-center mt-2">
                                            <!--<mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>-->
                                            <!--<button class="mb-3 bg-blue-900 text-white cursor-pointer" mat-raised-button>
                                                <span class="text-base">Thêm </span>
                                            </button>-->
                                        </div>
                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">

                                    <div *ngIf="is_show_hide_work_history==true">
                                        <div class="flex flex-col" *ngFor="let item of record.list_user_work_history;  index as i;">
                                            <div class="flex flex-row justify-between">
                                                <div class="flex flex-col items-start mt-2">

                                                    <span class="font-bold text-lg">{{item.db.position}}</span>


                                                    <span class="font-medium text-base text-blue-900">{{item.db.company}}</span>

                                                    <span *NgIf="item.db.from_date !=null && item.db.to_date!=null" class="font-medium text-base">{{item.db.from_date | date: 'dd/MM/yyyy'}} - {{item.db.to_date | date: 'dd/MM/yyyy'}}</span>

                                                    <span *NgIf="item.db.from_date ==null || item.db.to_date==null" class="font-medium text-base"></span>

                                                    <span class="font-medium leading-normal text-base" [innerHtml]="item.db.description | safeHtml"></span>
                                                  
                                                </div>

                                                <div class="flex items-center mt-2 hidden">

                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                                    <mat-icon class="icon-size-5 mr-3 cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                </div>



                                            </div>
                                            <hr class="w-full border-t border-slate-900 border-2 my-2">

                                        </div>


                                    </div>


                                </div>


                                <!--Kỹ năng-->
                                <div class="flex flex-col shadow border border-blue-500 rounded-md px-8 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <mat-icon *ngIf="is_show_hide_experience==true" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-down'" (click)="showHideExperience()"></mat-icon>
                                            <mat-icon *ngIf="is_show_hide_experience==false" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-up'" (click)="showHideExperience()"></mat-icon>
                                            <span class="font-bold text-lg">Kỹ năng</span>
                                            <mat-icon class="icon-size-5 ml-1"
                                                      [svgIcon]="'heroicons_solid:users'"></mat-icon>

                                        </div>
                                        <div class="flex items-center mt-2">
                                            <!--<mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>-->
                                            <!--<button class="mb-3 bg-blue-900 text-white cursor-pointer" mat-raised-button>
                                                <span class="text-base">Thêm </span>
                                            </button>-->
                                        </div>
                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">

                                    <div *ngIf="is_show_hide_experience==true">
                                        <div class="flex flex-col" *ngFor="let item of record.list_user_experience;  index as i;">
                                            <div class="flex flex-row justify-between">
                                                <div class="flex flex-col items-start mt-2">

                                                    <span class="font-bold text-lg">{{item.db.skill}}</span>

                                                    <span class="font-medium text-base leading-normal" [innerHtml]="item.db.description | safeHtml">
                                                    </span>
                                                </div>

                                                <div class="flex items-center mt-2 hidden">
                                                    <mat-icon class="icon-size-5 mr-3  cursor-pointer"
                                                              [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                                    <mat-icon class="icon-size-5 mr-3"
                                                              [svgIcon]="'heroicons_solid:trash'"></mat-icon>


                                                </div>



                                            </div>
                                            <hr class="w-full border-t border-slate-900 border-2 my-2">
                                        </div>


                                    </div>

                                </div>

                                <div class="flex flex-col shadow border border-blue-500 rounded-md px-8 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <mat-icon *ngIf="is_show_hide_social==true" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-down'" (click)="showHideSocial()"></mat-icon>
                                            <mat-icon *ngIf="is_show_hide_social==false" class="icon-size-5 mr-3 cursor-pointer" [svgIcon]="'heroicons_solid:chevron-up'" (click)="showHideSocial()"></mat-icon>
                                            <span class="font-bold text-lg" transloco="system.ket_noi_voi_toi"></span>
                                            <mat-icon class="icon-size-5 ml-1"
                                                      [svgIcon]="'heroicons_solid:users'"></mat-icon>
                                        </div>
                                        <div class="flex items-center mt-2">
                                            <!--<mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>-->
                                            <!--<button class="mb-3 bg-blue-900 text-white" mat-raised-button>
                                                <span class="text-base">Thêm </span>
                                            </button>-->


                                        </div>
                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">

                                    <div class="flex flex-col">
                                        <div class="flex flex-row justify-between">
                                            <div class="flex flex-row items-start mt-2">

                                                <div class="flex items-center mt-2" *ngIf="record.db.website_link!=null && record.db.website_link!=''">

                                                    <a class="leading-none text-ellipsis truncate " href="{{record.db.website_link}}">
                                                        <img src="/assets/images/portal/browser.png" class="h-7 w-7 mr-2" />

                                                    </a>
                                                </div>
                                                <div class="flex items-center mt-2" *ngIf="record.db.linkedin_link!=null && record.db.linkedin_link!=''">

                                                    <a href="{{record.db.linkedin_link}}" class="leading-none text-ellipsis truncate ">
                                                        <img src="/assets/images/portal/linkedin.png" class="h-7 w-7 mr-2" />

                                                    </a>

                                                </div>
                                                <div class="flex items-center mt-2" *ngIf="record.db.facebook_link!=null && record.db.facebook_link!=''">

                                                    <a href="{{record.db.facebook_link}}" class="leading-none text-ellipsis truncate ">
                                                        <img src="/assets/images/portal/facebook.png" class="h-7 w-7 mr-2" />

                                                    </a>

                                                </div>
                                                <div class="flex items-center mt-2" *ngIf="record.db.twitter_link!=null && record.db.twitter_link!=''">

                                                    <a href="{{record.db.twitter_link}}" class="leading-none text-ellipsis truncate ">
                                                        <img src="/assets/images/portal/twitter.png" class="h-7 w-7 mr-2" />

                                                    </a>

                                                </div>
                                                <div class="flex items-center mt-2" *ngIf="record.db.youtube_link!=null && record.db.youtube_link!=''">

                                                    <a href="{{record.db.youtube_link}}" class="leading-none text-ellipsis truncate ">
                                                        <img src="/assets/images/portal/youtube.png" class="h-7 w-7 mr-2" />

                                                    </a>

                                                </div>
                                                <div class="flex items-center mt-2" *ngIf="record.db.instagram_link!=null && record.db.instagram_link!=''">

                                                    <a href="{{record.db.instagram_link}}" class="leading-none text-ellipsis truncate ">
                                                        <img src="/assets/images/portal/instagram.png" class="h-7 w-7 mr-2" />

                                                    </a>

                                                </div>
                                            </div>

                                            <div class="flex items-center mt-2 hidden">
                                                <mat-icon class="icon-size-5 mr-3"
                                                          [svgIcon]="'heroicons_solid:pencil'"></mat-icon>

                                            </div>



                                        </div>
                                        <hr class="w-full border-t border-slate-900 border-2 my-2">

                                    </div>

                                </div>
                            </mat-tab>
                            <mat-tab label="{{'system.bai_viet' | transloco}}">
                                <div class="flex flex-row w-full h-1/2 mt-4">
                                    <div class="basis-2/3 mr-2">
                                        <div class="border-2 border-blue-500 rounded-md border-solid mb-3" *ngFor="let itemNews of listNews">
                                            <div class="w-full flex flex-row p-4" (click)="gotoNewsDetailPage(itemNews.id)">
                                                <div class="w-1/3">
                                                    <img src="{{itemNews.img}}" />
                                                    <!--<img src="..\assets\images\san_pham\gamatabx11.png" />-->
                                                </div>
                                                <div class="w-2/3">
                                                    <p class="font-bold">{{itemNews.title}}</p>
                                                    <p>{{itemNews.noidungbia}}</p>
                                                    <div class="grid grid-cols-2">
                                                        <div class="">
                                                            <p class="italic">{{itemNews.date | date: 'dd/MM/yyyy HH:mm'}}</p>
                                                        </div>
                                                        <div class="italic">
                                                            {{itemNews.name}}
                                                        </div>
                                                    </div>
                                                    <div class="flex items-center mt-1 sm:mt-0">
                                                        <button class="px-3 mr-1 -ml-2 sm:ml-0" (click)="openShareNews(itemNews.id)"
                                                                mat-button>
                                                            <mat-icon class="text-1xl">share</mat-icon> <span class="text-1xl">Chia sẻ</span>
                                                        </button>
                                                        <button class="px-3 mr-1 -ml-2 sm:ml-0"
                                                                mat-button>
                                                            {{itemNews.view_count  | thousandSuff }}<mat-icon class="text-1xl">visibility</mat-icon><span class="text-1xl">lượt xem</span>
                                                        </button>
                                                        <button class="px-3 sm:-mr-4"
                                                                mat-button>
                                                            <span class="mr-1">{{itemNews.comment_count  | thousandSuff }} Bình luận</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-2 rounded-md border-blue-500 border-solid basis-1/3 h-1/3">
                                        <p class="font-bold text-2xl">Danh Mục Tin Tức</p>
                                        <div *ngFor="let itemDanhMuc of listDanhMuc" class="ml-2">
                                            <button (click)="gotoTypeNewsDetailPage(itemDanhMuc.id)"
                                                    class="mb-3 mr-3 border-2 border-blue-500 border-solid hover:bg-blue-900"
                                                    style="height:30px;min-height:0px" mat-raised-button color="">
                                                {{itemDanhMuc.name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="{{'system.ban_be' | transloco}}">

                                <div class="flex flex-col shadow border border-blue-500 rounded-md px-2 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <span class="font-bold text-lg">Tải CV</span>
                                        </div>

                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">
                                    <mat-tab-group class="sm:px-2"
                                                   [animationDuration]="'0'" mat-align-tabs="start">
                                        <mat-tab label="{{'system.tatcabanbe' | transloco}}">


                                            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full min-w-0 mt-2 mb-2">
                                                <div class="flex flex-row flex-auto border border-blue-500 rounded-md  justify-between items-center px-2 overflow-hidden">

                                                    <div class="flex flex-col mt-2">
                                                        <img class="w-12 h-8 rounded-md border border-blue-500"
                                                             src={{record.db.avatar_path}}
                                                             alt="User avatar">
                                                    </div>
                                                    <div class="flex flex-col  mt-2">
                                                        <span>{{record.db.full_name}}</span>
                                                        <span>28 bạn chung</span>
                                                    </div>

                                                    <div class="flex  mt-2">
                                                        <button mat-icon-button
                                                                [matMenuTriggerFor]="weeklyExpensesMenu">
                                                            <mat-icon class="icon-size-5"
                                                                      [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                                        </button>
                                                        <mat-menu #weeklyExpensesMenu="matMenu">
                                                            <button mat-menu-item>

                                                                <mat-icon class="icon-size-5 "
                                                                          [svgIcon]="'how_to_reg'"></mat-icon>  Chấp nhận
                                                            </button>
                                                            <button mat-menu-item>
                                                                <mat-icon class="icon-size-5"
                                                                          [svgIcon]="'heroicons_solid:user-remove'"></mat-icon> Hủy kết bạn

                                                            </button>
                                                            <button mat-menu-item>
                                                                <mat-icon class="icon-size-5"
                                                                          [svgIcon]="'heroicons_solid:heart'"></mat-icon> Yêu thích

                                                            </button>
                                                            <button mat-menu-item>
                                                                <mat-icon class="icon-size-5"
                                                                          [svgIcon]="'heroicons_solid:rss'"></mat-icon> Theo dõi

                                                            </button>
                                                            <button mat-menu-item>
                                                                <mat-icon class="icon-size-5"
                                                                          [svgIcon]="'heroicons_solid:user-add'"></mat-icon> Kết bạn

                                                            </button>
                                                            <button mat-menu-item>
                                                                <mat-icon class="icon-size-5"
                                                                          [svgIcon]="'heroicons_solid:status-offline'"></mat-icon> Bỏ theo dõi

                                                            </button>
                                                        </mat-menu>
                                                    </div>

                                                </div>
                                                <div class="flex flex-row flex-auto  border border-blue-500 rounded-md justify-between items-center px-2 overflow-hidden">

                                                    <div class="flex flex-col mt-2">
                                                        <img class="w-12 h-8 rounded-md border border-blue-500"
                                                             src={{record.db.avatar_path}}
                                                             alt="User avatar">
                                                    </div>
                                                    <div class="flex flex-col  mt-2">
                                                        <span>{{record.db.full_name}}</span>
                                                        <span>28 bạn chung</span>
                                                    </div>
                                                    <div class="flex  mt-2">
                                                        <mat-icon class="icon-size-5 mr-3"
                                                                  [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>


                                                    </div>
                                                </div>
                                                <div class="flex flex-row flex-auto  border border-blue-500 rounded-md justify-between items-center px-2 overflow-hidden">

                                                    <div class="flex flex-col mt-2">
                                                        <img class="w-12 h-8 rounded-md border border-blue-500"
                                                             src={{record.db.avatar_path}}
                                                             alt="User avatar">
                                                    </div>
                                                    <div class="flex flex-col  mt-2">
                                                        <span>{{record.db.full_name}}</span>
                                                        <span>28 bạn chung</span>
                                                    </div>
                                                    <div class="flex  mt-2">
                                                        <mat-icon class="icon-size-5 mr-3"
                                                                  [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>


                                                    </div>
                                                </div>
                                            </div>


                                        </mat-tab>
                                        <mat-tab label="{{'system.loimoiketban' | transloco}}">

                                        </mat-tab>
                                        <mat-tab label="{{'system.nguoitheodoi' | transloco}}">

                                        </mat-tab>
                                        <mat-tab label="{{'system.dangtheodoi' | transloco}}">

                                        </mat-tab>
                                    </mat-tab-group>
                                </div>

                            </mat-tab>
                            <mat-tab label="{{'system.ung_tuyen' | transloco}}">


                                <div class="flex flex-col shadow border border-blue-500 rounded-md px-2 mt-4">
                                    <div class="flex flex-row justify-between">
                                        <div class="flex items-center mt-2">
                                            <span class="font-bold text-lg">Tải CV</span>
                                        </div>

                                    </div>

                                    <hr class="w-full border-t border-blue-500 border-2 my-2">

                                    <div class="flex flex-col">

                                        <div class="flex flex-col justify-between">

                                            <div class="flex flex-row  items-start mt-2">

                                                <div class="flex items-center mt-2">
                                                    <a class="font-medium text-base" *ngIf="record.file !=null" href="{{record.file.db.file_path}}">
                                                        {{record.file.db.file_name}}

                                                    </a>


                                                </div>


                                            </div>


                                        </div>


                                    </div>


                                </div>

                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>







        </div>


        <div class="flex flex-row justify-end space-x-2">
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="record.db.status_del ==4 " [disabled]="loading" mat-raised-button (click)="approval(record.db.Id)" transloco="common.approval"></button>
            <button class="bg-teal-500 text-white shadow-none hover:bg-teal-600" *ngIf="record.db.status_del == 1 || record.db.status_del == 4 " [disabled]="loading" mat-raised-button (click)="cancel(record.db.Id)" transloco="common.cancel"></button>
            <button class="bg-primary-600 text-white shadow-none hover:bg-primary-700" [disabled]="loading" mat-raised-button (click)="close()" transloco="close"></button>
        </div>
    </div>


</div>

