.highlighted-text{
    background: #FFFF00!important;
    color: black ;
}
.ul_paging{
    li{
        height: 40px;
    }
}

#searchpage_component_mattab{
   .mat-tab-body-wrapper{
        height: 0px !important;
   }
}